/* begin Page */
/* Created by Artisteer v3.0.0.32906 */

#art-main, table
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
    margin: 0;
    padding: 0;
}

body
{
  margin: 0 auto;
  padding: 0;
  color: #3D3D3D;
  background-color: #7B7B7B;
  background-image: url('images/Bottom_texture.jpg');
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: top left;
}

.art-postcontent,
.art-postcontent li,
.art-postcontent table,
.art-postcontent a,
.art-postcontent a:link,
.art-postcontent a:visited,
.art-postcontent a.visited,
.art-postcontent a:hover,
.art-postcontent a.hovered
{
    font-family: Arial, Helvetica, Sans-Serif;
}

.art-postcontent p
{
    margin: 12px 0 12px 0;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 33px;
}

.art-postcontent a
{
  text-decoration: underline;
  color: #82352B;
}

.art-postcontent a:link
{
  text-decoration: underline;
  color: #82352B;
}

.art-postcontent a:visited, .art-postcontent a.visited
{
  text-decoration: none;
  color: #C36328;
}

.art-postcontent  a:hover, .art-postcontent a.hover
{
  text-decoration: none;

  color: #B0483A;
}


.art-postcontent h1
{
   margin: 20px 0 20px 0; 
   color: #575757;
 
}

.art-postcontent h2
{
    color: #757575;
   margin: 22px 0 22px 0; 
   font-size: 31px;   
}

.art-postcontent h3
{
   margin: 18px 0 18px 0; 
  color: #B0483A; 
  font-size: 20px;    
}

.art-postcontent h4
{
   margin: 20px 0 20px 0; 
   color: #AE5824; 
   font-size: 18px;   
}

.art-postcontent h5
{
   margin: 23px 0 23px 0; 
   color: #AE5824;   
   font-size: 15px;
}

.art-postcontent h6
{
   margin: 28px 0 28px 0; 
   color: #AE5824;
   font-size: 13px;      
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;
}

#art-main
{
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  cursor:default;
  margin-left: 0px;
  margin-right: 0px;
}

#art-page-background-glare
{
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-attachment: fixed;
}

#art-page-background-glare-image
{
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-attachment: fixed;
  /*background-image: url('images/page_gl.png');*/
  /*background-image: url('img/fondo.png');*/
  background-color: White;
  background-repeat: no-repeat;
  background-position: top left;
}

html:first-child #art-page-background-glare
{
  border: 1px solid transparent;/* Opera fix */
}



.cleared
{
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1px;
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}
/* end Page */

/* begin Box, Sheet */
.art-sheet
{
  position: relative;
  margin: 0 auto;
  min-width: 41px;
  min-height: 41px;|
}

.art-sheet-body
{
  position: relative;
  padding: 8px;

}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl, .art-sheet-tc, .art-sheet-bc,.art-sheet-cr, .art-sheet-cl
{
  position: absolute;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl
{
  width: 68px;
  height: 68px;
  background-image: url('images/sheet_s.png');
}

.art-sheet-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 34px, 34px, auto);
}

.art-sheet-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 34px, 34px);
}

.art-sheet-bl
{
  bottom: 0;
  left: 0;
  clip: rect(34px, 34px, auto, auto);
}

.art-sheet-br
{
  bottom: 0;
  right: 0;
  clip: rect(34px, auto, auto, 34px);
}

.art-sheet-tc, .art-sheet-bc
{
  left: 34px;
  right: 34px;
  height: 68px;
  background-image: url('images/sheet_h.png');
}

.art-sheet-tc
{
  top: 0;
  clip: rect(auto, auto, 34px, auto);
}

.art-sheet-bc
{
  bottom: 0;
  clip: rect(34px, auto, auto, auto);
}

.art-sheet-cr, .art-sheet-cl
{
  top: 34px;
  bottom: 34px;
  width: 68px;
  background-image: url('images/sheet_v.png');
}

.art-sheet-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 34px);
}

.art-sheet-cl
{
  left: 0;
  clip: rect(auto, 34px, auto, auto);
}

.art-sheet-cc
{
  position: absolute;
  top: 34px;
  left: 34px;
  right: 34px;
  bottom: 34px;
 /* background-color: #FEFCFB;*/
  background-color: #FFFFFF;
}

.art-sheet
{
  top: 20px !important;
  margin-bottom: 0px !important;
  cursor:auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  
}


/* end Box, Sheet */

/* begin Header */
div.art-header
{
  margin: 0 auto;
  position: relative;
  width: 100%;
  /*height: 200px;*/
  overflow: hidden;
}


div.art-header-center
{
	position: relative;
	width: 884px;
	left:50%;
	left:0%;
}


div.art-header-png
{
  position: absolute;
  /*left:-50%;*/
  left:0%;
  top: 0;
  width: 884px;
  height: 200px;
  background-image: url('images/header.png');
  background-repeat: no-repeat;
  background-position:center center; 
}

div.art-header-jpeg
{
  position: absolute;
  top: 0;
  /*left:-50%;*/
  left:0%;
  width: 884px;
  height: 200px;
  background-image: url('images/header.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}

/* end Header */

/* begin Flash */
#art-flash-area
{
  position: absolute;
  top: 0;
  left: 0;
  width: 884px;
  height: 200px;
}

#art-flash-container
{
  position: absolute;
  top: 0;
  left: 0;
  width: 884px;
  height: 200px;
}

#art-flash-container div.art-flash-alt
{
    position: relative;
    width: 110px;
    height: 30px;
    margin: 0 auto;
    top: 12px;
}
/* end Flash */

/* begin Logo */
div.art-logo
{
  display: block;
  position: absolute;
  left: 0;
  top: 117px;
  width: 596px;
}

h1.art-logo-name
{
  display: block;
  text-align: center;
}

h1.art-logo-name, h1.art-logo-name a, h1.art-logo-name a:link, h1.art-logo-name a:visited, h1.art-logo-name a:hover
{
  font-style: normal;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 41px;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #CFCFCF !important;
}


h2.art-logo-text, 
h2.art-logo-text a,
h2.art-logo-text a:link,
h2.art-logo-text a:visited,
h2.art-logo-text a:hover
{
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: #B0B0B0 !important;
}

h2.art-logo-text
{
  display: block;
  text-align: center;
}
/* end Logo */

/* begin Menu */
/* menu structure */

.art-menu a, .art-menu a:link, .art-menu a:visited, .art-menu a:hover
{
    outline: none;
}

.art-menu, .art-menu ul
{
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  display: block;
  background-color: #616161;
  /*margin-left: 40%;*/
}

.art-menu li
{
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  float: left;
  position: relative;
  z-index: 5;
  background: none;
  
}

.art-menu li:hover
{
  z-index: 10000;
  white-space: normal;
}

.art-menu li li
{
  float: none;
}

.art-menu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background: none;
}

.art-menu li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.art-menu li li:hover>ul
{
  top: 0;
  left: 100%;
}

.art-menu:after, .art-menu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}
.art-menu, .art-menu ul
{
  min-height: 0;
}

.art-menu ul
{
  background-image: url('images/spacer.gif');
  padding: 10px 30px 30px 30px;
  margin: -10px 0 0 -30px;
}

.art-menu ul ul
{
  padding: 30px 30px 30px 10px;
  margin: -30px 0 0 -10px;
}




/* menu structure */

.art-menu
{
  padding: 3px 3px 3px 3px;
}

.art-nav
{
  position: fixed;
  min-height: 31px;
  z-index: 100;
  right: 15px;
  top: 12px;
  
}


/* end Menu */

/* begin MenuItem */
.art-menu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}


.art-menu ul li
{
    margin:0;
    clear: both;
}


.art-menu a .r, .art-menu a .l
{
  position: absolute;
  display: block;
  top: 0;
  z-index: -1;
  height: 85px;
  background-image: url('images/menuitem.png');
}

.art-menu a .l
{
  left: 0;
  right: 9px;
}

.art-menu a .r
{
  width: 418px;
  right: 0;
  clip: rect(auto, auto, auto, 409px);
}

.art-menu a .t, .art-menu ul a, .art-menu a, .art-menu a:link, .art-menu a:visited, .art-menu a:hover
{
  font-weight: bold;
  font-size: 12px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

.art-menu a .t
{
  color: #3D3D3D;
  padding: 0 4px;
  margin: 0 9px;
  line-height: 25px;
  text-align: center;
  color: #FFF;
}

.art-menu a:hover .l, .art-menu a:hover .r
{
  top: -30px;
}

.art-menu li:hover>a .l, .art-menu li:hover>a .r
{
  top: -30px;
}

.art-menu li:hover a .l, .art-menu li:hover a .r
{
  top: -30px;
}
.art-menu a:hover .t
{
  color: #2F180A;
}

.art-menu li:hover a .t
{
  color: #2F180A;
}

.art-menu li:hover>a .t
{
  color: #2F180A;
}


.art-menu a.active .l, .art-menu a.active .r
{
  top: -60px;
}

.art-menu a.active .t
{
  /*color: #2A1609;*/
  color: #7D0506;
}
/* end MenuItem */

/* begin MenuSeparator */
.art-menu .art-menu-li-separator
{
  display: block;
  width: 5px;
  height:25px;
}
.art-nav .art-menu-separator
{
  display: block;
  margin:0 auto;
  width: 1px;
  height: 25px;
  background-image: url('images/menuseparator.png');
}
/* end MenuSeparator */

/* begin MenuSubItem */
.art-menu ul a
{
  display: block;
  text-align: center;
  white-space: nowrap;
  height: 32px;
  width:260px;
  overflow: hidden;
  line-height: 32px;
  background-image: url('images/subitem.png');
  background-position: left top;
  background-repeat: repeat-x;
  border-width: 1px;
  border-style: solid;
  border-color: #8F8F8F;
}

.art-nav ul.art-menu ul span, .art-nav ul.art-menu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

.art-menu ul a, .art-menu ul a:link, .art-menu ul a:visited, .art-menu ul a:hover, .art-menu ul a:active, .art-nav ul.art-menu ul span, .art-nav ul.art-menu ul span span
{
  text-align: left;
  text-indent: 12px;
  text-decoration: none;
  line-height: 32px;
  color: #242424;

  margin:0;
  padding:0;
}

.art-menu ul li a:hover
{
  color: #2A1609;
  border-color: #8F8F8F;
  background-position: 0 -32px;
}

.art-menu ul li:hover>a
{
  color: #2A1609;
  border-color: #8F8F8F;
  background-position: 0 -32px;
}

.art-nav .art-menu ul li a:hover span, .art-nav .art-menu ul li a:hover span span
{
  color: #2A1609;
}

.art-nav .art-menu ul li:hover>a span, .art-nav .art-menu ul li:hover>a span span
{
  color: #2A1609;
}


/* end MenuSubItem */

/* begin Layout */
.art-content-layout
{
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: Transparent;
  border: none !important;
  padding:0 !important;
  margin-top:20px;
}
.art-layout-cell, .art-content-layout-row
{
  background-color: Transparent;
  vertical-align: top;
  text-align: left;
  border: none !important;
  margin:0 !important;
  padding:0 !important;
}
.art-content-layout .art-content-layout{width: auto;margin:0;}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell{display: table-cell;}
.art-layout-cell .art-layout-cell{display: block;}
.art-content-layout-row {display: table-row;}
.art-layout-glare{position:relative;}/* end Layout */

/* begin Box, Block */
.art-block
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-block-body
{
  position: relative;
  padding: 0;
}


.art-block
{
  margin: 7px;
}

/* end Box, Block */

/* begin BlockHeader */
.art-blockheader
{
  margin-bottom: 0;
}

.art-blockheader, .art-blockheader h3.t
{
  position: relative;
  height: 26px;
}

.art-blockheader h3.t,
.art-blockheader h3.t a,
.art-blockheader h3.t a:link,
.art-blockheader h3.t a:visited, 
.art-blockheader h3.t a:hover
{
  color: #DA8049;
  font-variant: small-caps;
  font-size: 14px;
}

.art-blockheader h3.t
{
  margin:0;
  padding: 0 11px 0 11px;
  white-space: nowrap;
  line-height: 26px;	
}

.art-blockheader .l, .art-blockheader .r
{
  position: absolute;
  height: 26px;
  background-image: url('images/blockheader.png');
}

.art-blockheader .l
{
  left: 0;
  right: 11px;
}

.art-blockheader .r
{
  width: 884px;
 
  right: 0;
  clip: rect(auto, auto, auto, 873px);
}

/* end BlockHeader */

/* begin Box, BlockContent */
.art-blockcontent
{
  position: relative;
  margin: 0 auto;
  min-width: 23px;
  min-height: 23px;
}

.art-blockcontent-body
{
  position: relative;
  padding: 2px;
}

.art-blockcontent-tr, .art-blockcontent-tl, .art-blockcontent-br, .art-blockcontent-bl, .art-blockcontent-tc, .art-blockcontent-bc,.art-blockcontent-cr, .art-blockcontent-cl
{
  position: absolute;
}

.art-blockcontent-tr, .art-blockcontent-tl, .art-blockcontent-br, .art-blockcontent-bl
{
  width: 22px;
  height: 22px;
  background-image: url('images/blockcontent_s.png');
}

.art-blockcontent-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 11px, 11px, auto);
}

.art-blockcontent-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 11px, 11px);
}

.art-blockcontent-bl
{
  bottom: 0;
  left: 0;
  clip: rect(11px, 11px, auto, auto);
}

.art-blockcontent-br
{
  bottom: 0;
  right: 0;
  clip: rect(11px, auto, auto, 11px);
}

.art-blockcontent-tc, .art-blockcontent-bc
{
  left: 11px;
  right: 11px;
  height: 22px;
  background-image: url('images/blockcontent_h.png');
}

.art-blockcontent-tc
{
  top: 0;
  clip: rect(auto, auto, 11px, auto);
}

.art-blockcontent-bc
{
  bottom: 0;
  clip: rect(11px, auto, auto, auto);
}

.art-blockcontent-cr, .art-blockcontent-cl
{
  top: 11px;
  bottom: 11px;
  width: 22px;
  background-image: url('images/blockcontent_v.png');
}

.art-blockcontent-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 11px);
}

.art-blockcontent-cl
{
  left: 0;
  clip: rect(auto, 11px, auto, auto);
}

.art-blockcontent-cc
{
  position: absolute;
  top: 11px;
  left: 11px;
  right: 11px;
  bottom: 11px;
  background-color: #FEFCFB;
}

.art-blockcontent-body, 
.art-blockcontent-body li, 
.art-blockcontent-body a,
.art-blockcontent-body a:link,
.art-blockcontent-body a:visited,
.art-blockcontent-body a:hover
{
  color: #3D3D3D;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 13px;
}

.art-blockcontent-body p
{
  margin: 6px 0 6px 0;
}

.art-blockcontent-body a
{
  color: #B0483A;
  text-decoration: none;
}

.art-blockcontent-body a:link
{
  color: #B0483A;
  text-decoration: none;
}

.art-blockcontent-body a:visited, .art-blockcontent-body a.visited
{
  color: #E7AD88;

}

.art-blockcontent-body a:hover, .art-blockcontent-body a.hover
{
  color: #B0483A;

  text-decoration: underline;
}

.art-blockcontent-body ul li
{
  line-height: 125%;    
  color: #AE5824;

  padding: 0 0 0 17px;
  background-image: url('images/blockcontentbullets.png');
  background-repeat: no-repeat;
}/* end Box, BlockContent */

/* begin Button */
.art-button-wrapper a.art-button,
.art-button-wrapper a.art-button:link,
.art-button-wrapper input.art-button,
.art-button-wrapper button.art-button
{
  text-decoration: none;
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  position:relative;
  top:0;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #DEDEDE !important;
  width: auto;
  outline: none;
  border: none;
  background: none;
  line-height: 25px;
  height: 25px;
  margin: 0 !important;
  padding: 0 10px !important;
  overflow: visible;
  cursor: default;
}

.art-button img, .art-button-wrapper img
{
  margin: 0;
  vertical-align: middle;
}

.art-button-wrapper
{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  height: 25px;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.firefox2 .art-button-wrapper
{
  display: block;
  float: left;
}

input, select, textarea
{
  vertical-align: middle;
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
}

.art-block select 
{
    width:96%;
}

.art-button-wrapper.hover .art-button, .art-button-wrapper.hover a.art-button:link, .art-button:hover
{
  color: #000000 !important;
  text-decoration: none !important;
}

.art-button-wrapper.active .art-button, .art-button-wrapper.active a.art-button:link
{
  color: #1C1C1C !important;
}

.art-button-wrapper .art-button-l, .art-button-wrapper .art-button-r
{
  display: block;
  position: absolute;
  height: 85px;
  margin: 0;
  padding: 0;
  background-image: url('images/button.png');
}

.art-button-wrapper .art-button-l
{
  left: 0;
  right: 0;
}

.art-button-wrapper .art-button-r
{
  width: 401px;
  right: 0;
  clip: rect(auto, auto, auto, 401px);
}

.art-button-wrapper.hover .art-button-l, .art-button-wrapper.hover .art-button-r
{
  top: -30px;
}

.art-button-wrapper.active .art-button-l, .art-button-wrapper.active .art-button-r
{
  top: -60px;
}

.art-button-wrapper input
{
  float: none !important;
}
/* end Button */

/* begin Box, Post */
.art-post
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-post-body
{
  position: relative;
  padding: 12px;
}


.art-post
{
  margin: 7px;
}

a img
{
  border: 0;
}

.art-article img, img.art-article
{
  border: solid 0 #E4A47C;
  margin: 10px;
}

.art-metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.art-article table, table.art-article
{
  border-collapse: collapse;
  margin: 1px;
}

.art-article th, .art-article td
{
  padding: 2px;
  border: solid 1px #616161;
  vertical-align: top;
  text-align: left;
}

.art-article th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
  float:left;
}

/* end Box, Post */

/* begin PostMetadata, PostMetadataHeader */
.art-postmetadataheader
{
  overflow:hidden;
  padding: 1px;
  background-image: url('images/postmetadataheader_bg.png');
  border-color: #BDBDBD;
  border-style: solid;
  border-width: 0;
}
/* end PostMetadata, PostMetadataHeader */

/* begin PostHeaderIcon */
h2.art-postheader
{
  color: #383838;
  margin: 6px 0 6px 0;
}

h2.art-postheader, 
h2.art-postheader a, 
h2.art-postheader a:link, 
h2.art-postheader a:visited,
h2.art-postheader a.visited,
h2.art-postheader a:hover,
h2.art-postheader a.hovered
{
  font-size: 31px;
  text-align: center;
}

h2.art-postheader a, h2.art-postheader a:link
{
  text-decoration: none;
  color: #B0483A;
}

h2.art-postheader a:visited, h2.art-postheader a.visited
{

  color: #984E1F;
}


h2.art-postheader a:hover,  h2.art-postheader a.hovered
{


  color: #A54337;
}

/* end PostHeaderIcon */

/* begin PostBullets */
.art-post ol, .art-post ul
{
  margin: 1em 0 1em 2em;
  padding: 0;
}

.art-post li
{
  font-size: 13px;
}

.art-post li ol, .art-post li ul
{
  margin: 0.5em 0 0.5em 2em;
  padding: 0;
}

.art-post li
{
  color: #141414; 

  padding: 0;
}


.art-post li
{
  padding: 0 0 0 11px;
}

.art-post ol>li
{
  background: none;
  padding-left: 0;/* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.art-post ul>li
{
  background-image: url('images/postbullets.png');
  background-repeat: no-repeat;
  padding-left: 11px;/* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
  overflow-y: hidden;
}


/* end PostBullets */

/* begin PostQuote */
.art-postcontent blockquote,
.art-postcontent blockquote a,
.art-postcontent blockquote a:link,
.art-postcontent blockquote a:visited,
.art-postcontent blockquote a:hover
{
  color: #190D05;

}

.art-postcontent blockquote p
{
   margin: 17px 0 17px 17px;
}

.art-postcontent blockquote
{
   border: solid 1px #E4A47C;
  margin: 10px 10px 10px 50px;
  padding: 6px 6px 6px 29px;
  background-color: #F1D0BB;
  background-image: url('images/postquote.png');
  background-position: left top;
  background-repeat: no-repeat;/* makes blockquote not to align behind the image if they are in the same line */
  overflow: auto;
}

/* end PostQuote */

/* begin Footer */
.art-footer
{
  position: relative;
  overflow: hidden;
  width: 100%;
  	margin-top:50px;
}

.art-footer-b 
{
  position: absolute;
  left:5px;
  right:5px;
  bottom:0;
  height:50px;
  background-image: url('images/footer_b.png');
}

.art-footer-r, .art-footer-l
{
  position: absolute;
  height:50px;
  background-image: url('images/footer_s.png');
  bottom: 0;
}

.art-footer-l
{
  left: 0;
  width:5px;
}

.art-footer-r
{
  right: 0;
  width:10px;
  clip: rect(auto, auto, auto, 5px);
}

.art-footer-t
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
  background-image: url('images/footer_t.png');
  background-position: left bottom;
}

.art-footer-body
{
    position:relative;
    padding: 20px;

}

.art-footer-body .art-rss-tag-icon
{
  position: absolute;
  left:   6px;
  bottom:20px;
  z-index:1;
}

.art-rss-tag-icon
{
  display: block;
  background-image: url('images/rssicon.png');
  background-position: center right;
  background-repeat: no-repeat;
  height: 32px;
  width: 25px;
  cursor: default;
}

.art-footer-text p
{
  padding:0;
  margin:0;
}

.art-footer,
.art-footer a,
.art-footer a:link,
.art-footer a:visited,
.art-footer a:hover
{
    color: #000000;
    font-size: 12px;
}

.art-footer-text
{
  min-height: 32px;
  padding: 0 10px 0 10px;

}

.art-footer,
.art-footer-text,
.art-footer p
{
  text-align: center;
}

.art-footer a,
.art-footer a:link
{
  color: #732F26;
  text-decoration: none;
}

.art-footer a:visited
{
  color: #7F411A;

}

.art-footer a:hover
{
  color: #993F33;

  text-decoration: underline;
}
/* end Footer */

/* begin PageFooter */
.art-page-footer, 
.art-page-footer a,
.art-page-footer a:link,
.art-page-footer a:visited,
.art-page-footer a:hover
{
  font-family: Arial;
  font-size: 10px;
  letter-spacing: normal;
  word-spacing: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  color: #B2B2B2;
}

.art-page-footer
{
  margin: 1em;
  text-align: center;
  text-decoration: none;
  color: #E09567;
}
/* end PageFooter */

/* begin LayoutCell, content */




.art-content-layout .art-content .art-block
{
  background-color: #FFFFFF;
}
/* end LayoutCell, content */



.overview-table .art-layout-cell
{
    width:33%;
}


.overview-table-inner 
{
    margin:10px;
}

table.table
{
    width:100%;
    border-collapse:collapse;
    table-layout:fixed;
    text-align:left;
    vertical-align:top;
}

table.table, table.table tr, table.table td
{
    border:none;
    margin:0;
    padding:0;
    background-color:Transparent;
}

img.image
{
    margin:0;
    padding:0;
    border:none;
}